<%= render :partial => 'users/user' %>

<% content_for :left do %>
  <% if authorized_for(@asset) %>
      <div class="track_options">
          <%= link_to edit_user_track_path(@asset.user, @asset), :class => 'view_all', :title => 'edit this track' do %>
            edit <div class="sprites-pencil sprites-before-heading"></div>
          <% end %>

          <% if @asset.user.greenfield_enabled? %>
            <%= link_to greenfield.post_url(@asset.permalink, :host => Alonetone.greenfield_url), :class => 'view_all' do %>
              greenfield <div class="sprites-pencil sprites-before-heading"></div>
            <% end %>
          <% end %>

          <%= link_to user_track_path(@asset.user, @asset), :method => 'delete', :class => 'view_all ',
          :confirm => 'Are you sure? This will delete the song permanently, including all play history and comments.',
          :title => 'delete this track permanently ' do %>
            delete <div class="sprites-red-x sprites-before-heading"></div>
          <% end %>

          


      </div>
  <% end %>
  
  <div id="single_track" class="box<%= ' descriptionless' unless @asset.description.present? %>">
    <%= render :partial => 'assets/asset', locals: { asset: @asset } %>
  </div>
  
  <%= render :partial => 'big_share'%>
  <%= render :partial => 'stats' %>
      
<% end %>
  
<% content_for :right do %>
  <%= render :partial => 'favoriters' if @favoriters.present?%>
  <%= render :partial => 'users'%>
  <div class="clear"> </div>
  <%= render :partial => 'shared/comments' if @comments.present? %>
<% end %>
